@keyframes group-ascend-hide {
  0% {
    transform : translateY(0) scale(1);
    opacity : 1;
    /* transformOrigin : bottom center; */
  }
  100% {
    transform : translateY(-100%) scale(0);
    opacity : 0;
  }
}
@keyframes group-ascend-appear {
  0% {
    transform : translateY(-50%) scale(0);
    opacity : 0;
    transformOrigin : top center;
    display: none;
  }
  100% {
    transform : translateY(0) scale(1);
    opacity : 1;
    display: flex;
  }
}

.animate-group-ascend-hide {
  animation : group-ascend-hide 0.5s ease-in-out;
}
.animate-group-ascend-appear {
  animation : group-ascend-appear 0.5s ease-in-out;
}