@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slow-spin::before{
  animation: spin 2s linear infinite;
}

.hello::before {
  content : '';
  width : 100%;
  height : 100%;
  background-color: red;
}